In [ ]:
# importing a pandas library
import pandas as pd

In [ ]:
# uploading the dataset
Maimuna = pd.read_excel("/content/sample_data/SS3_C.xlsx")

In [ ]:
# printig the datasett
print(Maimuna)

   FOOD AND NUTRITION MARKS FOR SS3 C  Unnamed: 1  Unnamed: 2 Unnamed: 3  \
0                               NAMES         NaN         NaN  PRACTICAL
1                        AISHA DALHAT         NaN         NaN         10
2                      AISHA MUHAMMAD         NaN         NaN         11
3                 FATIMA SALISU ADAMU         NaN         NaN         15
4                      FATIMA ZUBAIRU         NaN         NaN         16
..                                ...         ...         ...        ...
64                      FAUZIYYA SALE         NaN         NaN         15
65                          UMMA SABO         NaN         NaN         15
66                    HADIZA MUHAMMAD         NaN         NaN         12
67                   NANA HAUWA ABDUL         NaN         NaN         13
68                    JAMILA ABUBAKAR         NaN         NaN         10

    Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7
0          NaN       TEST      EXAMS      TOTAL
1          NaN         15         50         75
2          NaN         15         46         72
3          NaN         12         54         81
4          NaN         12         58         86
..         ...        ...        ...        ...
64         NaN         17         54         86
65         NaN         18         55         88
66         NaN         19         55         86
67         NaN         16         54         83
68         NaN         16         44         70

[69 rows x 8 columns]