In [ ]:
# creating a list of my friends
friends = ['maryam', 'naima', 'hajara', 'amina', 'rabia', 'saliha', 'aisha', 'khadija']

In [2]:
# printing my friends list
print(friends)

['maryam', 'naima', 'hajara', 'amina', 'rabia', 'saliha', 'aisha', 'khadija']

In [7]:
# len fuction
len(friends)

8

looping

In [29]:
fiends_1 = ['amina', 'rabia', 'saliha', 'aisha']
for friends in fiends_1:
    print(f"{friends}, thank you for coming")

amina, thank you for coming
rabia, thank you for coming
saliha, thank you for coming
aisha, thank you for coming

In [30]:
# range function
range(0,9)

range(0, 9)

In [33]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [34]:
list1 = list(range(0,9))

In [35]:
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [37]:
for n in list1:
    print(n)

0
1
2
3
4
5
6
7
8

In [40]:
# tuple
my_tuple = (1, 2, 3, 'mohd')

In [41]:
# printing my tuple
print(my_tuple)

(1, 2, 3, 'mohd')

conditional statement

In [51]:
# if and else statement
number = 10
if number >= 1:
      print('number is positive')
else:
      print('negetive number')

number is positive

In [55]:
apple = ('red')
if apple == "red":
    print('liked')
else:
    print('dislike')

liked

simpl dictionary

In [56]:
# creating my simple dictionary
user = {"name":"maimuna", "age":"30", "gender":"female"}

In [57]:
print(user["name"])

maimuna

In [58]:
# adding key-value
user["job"] = 'teacher'

In [59]:
user

{'name': 'maimuna', 'age': '30', 'gender': 'female', 'job': 'teacher'}